.nkDropdown {
  width: 100%;
  max-height: 100px;
  overflow: auto;
  position: absolute;
  box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.4);
  list-style: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
}

.nkDropdownItem {
  padding: 8px 20px;
}

.nkDropdownItem:hover {
  cursor: pointer;
  background-color: #1ecbe1;
}
