.nk-input-box {
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  border: 1px solid #21262a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-size-sm {
  height: 30px;
}

.input-size-md {
  height: 40px;
}

.input-size-lg {
  height: 50px;
}

.nk-input-box.focused {
  border-color: #1ecbe1;
}

.nk-input-box.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: none !important;
}

.close-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  z-index: 1;
}

.close-action:hover {
  cursor: pointer;
}

.nk-input {
  outline: initial;
  border: initial;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: initial;
}

.inputLoader {
  position: absolute;
  right: 16px;
}
