.nk-button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: initial;
  font-weight: bold;
}

.nk-button:hover {
  cursor: pointer;
  filter: opacity(80%);
}

.nk-button:active {
  filter: brightness(70%);
}

.nk-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: none !important;
}

.nk-button.nk-button-primary {
  color: #ffffff;
  background-color: #1ecbe1;
}

.nk-button.nk-button-secondary {
  color: #70737b;
  background-color: #e7e8ea;
}

.size-sm {
  height: 30px;
}

.size-md {
  height: 40px;
}

.size-lg {
  height: 50px;
}
